In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
# 문제 1
# mpg 변수의 제 1사분위수를 구하고 정수값으로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [2]:
Q1 = df['mpg'].quantile(0.25)
print(round(Q1))

15

In [ ]:
# 문제 2
# mpg 값이 19이상 21이하인 데이터의 수를 구하시오.
df = pd.read_csv("mtcars.csv")

In [6]:
cond1 = (df['mpg'] >= 19)
cond2 = (df['mpg'] <= 21)
print(len(df[cond1 & cond2]))

5

In [ ]:
# 문제 3
# hp 변수의 IQR 값을 구하시오.
df = pd.read_csv("mtcars.csv")

In [7]:
Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(0.75)
IQR = Q3 - Q1

print(IQR)

83.5

In [ ]:
# 문제 4
# wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [10]:
# 틀림
top10 = df.sort_values('wt', ascending = False)
sum_top10 = sum(top10['wt'].head(10))
print(int(sum_top10))

42

In [11]:
# 문제 5
# 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째자리까지 출력하시오.

In [14]:
# 틀림
len_6 = len(df[df['cyl'] == 6])
len_total = len(df)
print(round(len_6 / len_total, 1))

0.2

In [ ]:
# 문제 6
# 첫번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오.

In [18]:
mpg10 = df['mpg'].head(10)
mean_mpg10 = mpg10.mean()
print(round(mean_mpg10))

20

In [ ]:
# 문제 7
# 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.

In [19]:
# 틀림
wt_50 = int(len(df)*0.5)
df_50 = df[:wt_50]
print(df_50['wt'].median())

3.44

In [22]:
# 문제 8
# 결측값이 있는 데이터의 수를 출력하시오.
# 데이터 생성(수정금지)
df = pd.DataFrame( {
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20220505', '20230511'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [25]:
# 틀림
missing = df.isnull().sum()
print(missing.sum())

5

In [ ]:
# 문제 9
# '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 판매수의 평균값을 정수로 출력하시오.
# 데이터 생성(수정금지)
df = pd.DataFrame( {
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20220505', '20230511'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [29]:
# 틀림
Q2 = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(Q2)
print(round(df['판매수'].mean()))

15

In [40]:
# 문제 10
# 판매수 컬럼에 결측치가 있는 행을 제거하고,
# 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여
# 판매수 변수의 Q1(제1사분위수) 값을 정수로 출력하시오.
# 데이터 (수정금지)
df = pd.DataFrame( {
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20220505', '20230511'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [41]:
# 틀림
df = df['판매수'].dropna()
len_df = int(len(df)*0.5)
df = df[:len_df]
Q1 = df.quantile(0.25)
print(round(Q1))

5

In [42]:
# 문제 11
# cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [56]:
# 틀림
cond1 = (df['cyl'] == 4)
cond2 = (df['cyl'] == 6)
cond1_mean = df[cond1]['mpg'].mean()
cond2_mean = df[cond2]['mpg'].mean()
print(round(abs(cond1_mean - cond2_mean)))

7

In [ ]:
# 문제 12
# hp 변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오.
# (단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다)
df = pd.read_csv("mtcars.csv")

In [59]:
# 틀림
# Z = (x-평균) / 표준편차

std = df['hp'].std()
mean = df['hp'].mean()
df['Z'] = (df['hp'] - mean) / std
cond1 = (df['Z'] > 1.5)
cond2 = (df['Z'] < -1.5)
print(len(df[cond1 | cond2]))

2

In [64]:
# 문제 13
# mpg 컬럼을 최소최대 Scaling을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.
df = pd.read_csv("mtcars.csv")

In [67]:
# 틀림
# 공식 : (x - min) / (max - min)

min_mpg = df['mpg'].min()
max_mpg = df['mpg'].max()
df['mpg'] = (df['mpg'] - min_mpg) / (max_mpg - min_mpg)
cond1 = (df['mpg'] > 0.7)
print(len(df[cond1]))

5

In [68]:
# 문제 14
# wt컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.
df = pd.read_csv("mtcars.csv")

In [75]:
# 틀림
Q1 = df['wt'].quantile(0.25)
Q3 = df['wt'].quantile(0.75)
IQR = Q3 - Q1

upper = Q3 + (IQR * 1.5)
lower = Q1 - (IQR * 1.5)

cond1 = (df['wt'] < lower)
cond2 = (df['wt'] > upper)
print(len(df[cond1]) + len(df[cond2]))

3

In [76]:
# 문제 15
# 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 정수로 출력하시오
# 데이터 생성 (수정금지)
df = pd.DataFrame( {
'날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20220505', '20230511'],
'제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
df

          날짜    제품   판매수  개당수익
0   20220103     A   3.0   300
1   20220105     B   NaN   400
2       None  None   5.0   500
3   20230127     B  10.0   600
4   20220203     A  10.0   400
5   20220205  None  10.0   500
6   20230210     A  15.0   500
7   20230223     B  15.0   600
8   20230312     A  20.0   600
9   20230422     B   NaN   700
10  20220505     A  30.0   600
11  20230511     A  40.0   600

In [77]:
df1 = df.copy()
missing = df1['판매수'].min()
df1['판매수'] = df1['판매수'].fillna(missing)

df_mean = df['판매수'].mean()
df1_mean = df1['판매수'].mean()
print(round(abs(df_mean - df1_mean)))

2

In [78]:
# 문제 16
# vs변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오.
df = pd.read_csv("mtcars.csv")

In [82]:
# 틀림
df = df[df['vs'] != 0]
df = df.sort_values('mpg', ascending = False)
print(df['hp'].iloc[0])

65

In [86]:
# 문제 17
# gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로 소수점 첫째자리까지 출력하시오.
df = pd.read_csv("mtcars.csv")

In [87]:
# 틀림
gear_3 = df[df['gear'] == 3]
gear_4 = df[df['gear'] == 4]

std_3 = gear_3['hp'].std()
std_4 = gear_4['hp'].std()
print(round(abs(std_3 - std_4), 1))

21.8

In [ ]:
# 문제 18
# gear 변수의 값별로 그룹화하여 mpg평균값을 산출하고
# 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오.
df = pd.read_csv("mtcars.csv")

In [94]:
# 틀림
df = df.loc[:, ['mpg', 'gear']]
# print(df.groupby('gear').mean())

gear4 = df[df['gear'] == 4]
print(gear4['mpg'].quantile(0.75))

28.075

In [96]:
# 문제 19
# hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후,
# hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [100]:
# 틀림
df = df.sort_values('hp', ascending = False)
df = df.reset_index(drop = True)
top7 = df['hp'].loc[6]
# print(top7)

import numpy as np
df['hp'] = np.where(df['hp'] >= 205, top7, df['hp'])

cond1 = (df['hp'] >= 150)
df = df[cond1]
print(round(df['hp'].mean()))

187

In [102]:
# 문제 20
# car변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 정수로 출력하시오.
df = pd.read_csv("mtcars.csv")

In [105]:
# 틀림
df2 = df[df['car'].str.contains('Merc')]
print(round(df2['mpg'].mean()))

# 시험환경에서는
# df = df.reset_index()
# df2 = df[ df['index'].str.contains('Merc') ]
# print(round(df2['mpg'].mean()))

19

In [18]:
# 문제 21
# '22년 1분기 A제품의 매출액을 구하시오
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
import pandas as pd
df = pd.DataFrame( {
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20220505', '20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
df

          날짜 제품  판매수  개당수익
0   20220103  A    3   300
1   20220105  B    5   400
2   20230105  A    5   500
3   20230127  B   10   600
4   20220203  A   10   400
5   20220205  B   10   500
6   20230210  A   15   500
7   20230223  B   15   600
8   20230312  A   20   600
9   20230422  B   25   700
10  20220505  A   30   600
11  20230511  A   40   600

In [19]:
# 틀림
df['매출액'] = ( df['판매수']*df['개당수익'] )
df['날짜'] = pd.to_datetime(df['날짜'])
df = df[ df['날짜'].between('2022-01-01', '2022-04-01') ]
df = df[df['제품'] == 'A']
print(df['매출액'].sum())

4900

In [20]:
# 문제 22
# '22년과 '23년의 총 매출액 차이를 절대값으로 구하시오.
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame( {
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20220505', '20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [24]:
df['매출액'] = (df['판매수']*df['개당수익'])
df['날짜'] = pd.to_datetime(df['날짜'])
df22 = df[df['날짜'].between('2022-01-01', '2023-01-01')]
df23 = df[df['날짜'].between('2023-01-01', '2024-01-01')]
print(abs(df22['매출액'].sum() - df23['매출액'].sum()))

48600

In [51]:
# 문제 23
# '23년 총 매출액이 큰 제품의 23년 판매수를 구하시오.
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame( {
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422', '20220505', '20230511'],
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })
df.head()

         날짜 제품  판매수  개당수익
0  20220103  A    3   300
1  20220105  B    5   400
2  20230105  A    5   500
3  20230127  B   10   600
4  20220203  A   10   400

In [42]:
# 틀림
df['매출액'] = (df['판매수']*df['개당수익'])
df['날짜'] = pd.to_datetime(df['날짜'])
df = df[ df['날짜'].between('2023-01-01', '2024-01-01') ]
df_a = df[ df['제품'] == 'A']
a = df_a['매출액'].sum()
df_b= df[ df['제품'] == 'B' ]
b = df_b['매출액'].sum()
print(df_a['판매수'].sum())

80

In [ ]:
# 문제 24
# 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오.
# (매출액 = 판매수*개당수익)
# 데이터 생성(수정금지)
df = pd.DataFrame( {
'날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312'
'제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
'판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
'개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

In [53]:
# 틀림
df['매출액'] = (df['판매수']*df['개당수익'])
cond1 = (df['매출액'] > 4000)
cond2 = (df['매출액'] < 10000)
df = df[cond1 & cond2]
print(len(df))

4

In [54]:
# 문제 25
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
'판매수': [5, 10, 15, 15, 20, 25, 40],
'개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]
df

                 time 물품  판매수  개당수익
0 2023-09-24 12:25:00  A    5   500
1 2023-09-24 16:48:25  B   10   600
2 2023-09-24 21:11:50  A   15   500
3 2023-09-25 01:35:15  B   15   600
4 2023-09-25 05:58:40  A   20   600
5 2023-09-25 10:22:05  B   25   700
6 2023-09-25 14:45:30  A   40   600

In [55]:
# 틀림
df['time'] = pd.to_datetime(df['time'])
df = df.set_index('time')
df = df.loc[(df.index >= '2023-09-24 16:00:00') & (df.index <= '2023-09-24 22:00:00')]
print(df['판매수'].sum())

25

In [56]:
# 문제 26
# 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.
# (매출액 = 판매수*개당수익)
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
'판매수': [5, 10, 15, 15, 20, 25, 40],
'개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)
df

                    물품  판매수  개당수익
time
2023-09-24 12:25:00  A    5   500
2023-09-24 16:48:25  B   10   600
2023-09-24 21:11:50  A   15   500
2023-09-25 01:35:15  B   15   600
2023-09-25 05:58:40  A   20   600
2023-09-25 10:22:05  B   25   700
2023-09-25 14:45:30  A   40   600

In [57]:
# 틀림
df['매출액'] = (df['판매수']*df['개당수익'])
df = df.reset_index()
df = df.set_index('time', drop = False)
df['time'] = pd.to_datetime(df['time'])
df_b = df[df['time'].between('2023-09-25', '2023-09-26')]
df = df_b.between_time(start_time = '00:00', end_time = '12:00')
df = df[df['물품'] == 'B']
print(df['매출액'].sum())

26500

In [69]:
# 문제 27
# 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.
# (매출액 = 판매수*개당수익)
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
'물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
'판매수': [5, 10, 15, 15, 20, 25, 40],
'개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)
df

                    물품  판매수  개당수익
time
2023-09-24 12:25:00  A    5   500
2023-09-24 16:48:25  B   10   600
2023-09-24 21:11:50  A   15   500
2023-09-25 01:35:15  B   15   600
2023-09-25 05:58:40  A   20   600
2023-09-25 10:22:05  B   25   700
2023-09-25 14:45:30  A   40   600

In [70]:
# 틀림
df['매출액'] = (df['판매수']*df['개당수익'])
df = df.reset_index()
df = df.set_index('time', drop = False)
df['time'] = pd.to_datetime(df['time'])
df_a = df[df['time'].between('2023-09-24', '2023-09-25')]
df = df_a.between_time(start_time = '12:00', end_time = '23:59')
df = df[df['물품'] == 'A']
print(df['매출액'].sum())

10000